<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィール", @user %>｜<%= link_to "投稿一覧", current_user %></span>
<span>現在、<%= current_user.microposts.count %>つのツイートがあります</span>